:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	width: 100vw;
	height: 100vh;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	text-align: center;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

main {
	height: 100%;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

button {
	border-radius: 8px;
	padding: 0.6em 0.8em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
	transition: color 0.25s;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.noBottomBorder {
	border-bottom: 0 !important;
}
.noLeftBorder {
	border-left: 0 !important;
}
.noRightBorder {
	border-right: 0 !important;
}
.noTopBorder {
	border-top: 0 !important;
}

body.dark {
	:root {
		color: #ffffff;
		background-color: #1e1e1e;	
	}
	a {
		color: #646cff;
	}
	a:hover {
		color: #535bf2;
	}
	main,
	dialog,
	body {
		background-color: #1e1e1e;
		color: #f9f9f9;
	}
	button {
		border: 1px solid #dee2e6;
		background-color: #1e1e1e;
		color: #f9f9f9;
		font-weight: bold;
	}
	button:hover {
		border-color: #646cff;
		color: #646cff;
	}
	.topbar {
        background-color: #101010;
		border-bottom: 1px solid #2e2e2e;
    }
	.active {
        background-color: #dee2e6;
        color: #000000;
    }
	.container {
        border: 2px solid #dee2e6;
		background-color: #2e2e2e;
    }
	.closebutton {
		color: #e13232;
	}
	.closebutton:hover {
		border-color: #e13232;
		color: #e13232;
	}
	.childOptions {
		border: 1px solid #dee2e6;
	}
	.matrixTable {
        border-left: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;
    }
}

body.light {
	:root {
		color: #213547;
		background-color: #dee2e6;
	}
	a:hover {
		color: #747bff;
	}
	main,
	dialog,
	body {
		background-color: #dee2e6;
		color: #000000;
	}
	button {
		border: 1px solid #1e1e1e;
		background-color: #f9f9f9;
		color: #000000;
		font-weight: bold;
	}
	button:hover {
		border-color: #535bf2;
		color: #535bf2;
	}
	.topbar {
        background-color: #f9f9f9;
		border-bottom: 1px solid #8e8e8e;
    }
	.active {
        background-color: #1a1a1a;
        color: #dee2e6;
    }
	.container {
        border: 2px solid #1e1e1e;
		background-color: #8e8e8e;
    }
	.closebutton {
		color: #e13232;
	}
	.closebutton:hover {
		border-color: #e13232;
		color: #e13232;
	}
	.childOptions {
		border: 1px solid #1e1e1e;
	}
	.matrixTable {
        border-left: 1px solid #1e1e1e;
        border-right: 1px solid #1e1e1e;
        border-radius: 16%;
    }
}

